<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FtpUrl" value="ftp://localhost"/>
	</appSettings>
	<connectionStrings>
		<add name="Sql" connectionString="Server=localhost,1434;Database=WinformDemo;User Id=sa;Password=Password@123;TrustServerCertificate=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>